General Elements body {
    background-image: url("../images/background.png");
}

.titlecontainer {
    background-color: orange;
    font-size: 46px;
    height: 140px;
    width: 429px;
    padding-left: 20px;
    padding-top: 40px;
    color: white;
    margin-top: 20px;
}

.container {
    background-image: url("../images/background.png");
}

#instructions {
    color: green;
    font-weight: 300;
    font-size: large;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #ffc225;
    line-height: 1.6;
    margin-top: 10px;
    margin-left: 10px;
}

#scoreslabel {
    background-color: limegreen;
    height: 40px;
    margin-left: 10px;
}

#scoresactual {
    background-color: limegreen;
    height: 40px;
    margin-top: 10px;
    height: 80px;
    margin-left: 10px;
}

#numberToMatch {
    height: 85px;
    background-color: mediumspringgreen;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 10px;
    font-size: 20px;
    margin-left: 10px;
}

#winsAndLosses {
    background-color: greenyellow;
    height: 85px;
    margin-top: 10px;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 10px;
}

.userTotal {
    width: 15%;
    height: 60px;
}